h1 {
  color:#ccc;
}

table tr td,th{
	width: 100px;
	height: 50px;
	text-align:center;
	border:1px solid gray;
}

table tr th{
	background-color: gray;
	color:#fff;
}

.itext{
	color:#84C7FD;
	font-weight:bold;
}

.description{
	color:gray;
}
.label{
	width:70px;
	height:30px;
    display:inline-block;
	background-color:#84C7FD;
	color:#fff;
}
